:root {
  --primary-title-color: #ffa5ba;
  --secondary-title-color: #d41443;
  --text-light-color: #ffffff;
  --text-dark-color: #000;
  --text-grey-color: #907e82;

  --fonts-dm_sans: 'DM Sans', sans-serif;
  --fonts-titan_one: 'Titan One', cursive;
}

