<section id="about" class="about">
    <div class="container">
        <p class="label">tradition and love</p>
        <h2 class="title">how it’s made?</h2>
        <div class="contant">
            <div class="left-side">
                <picture>
                    <source srcset="./images/about-desktop.webp 1x, ./images/about-desktop@2x.webp 2x" media="(min-width:1200px)"
                        type="image/webp">
                    <source srcset="./images/about-desktop.png 1x, ./images/about-desktop@2x.png 2x" media="(min-width:1200px)">
                    <source srcset="./images/about-tablet.webp 1x, ./images/about-tablet@2x.webp 2x" media="(min-width:768px)"
                        type="image/webp">
                    <source srcset="./images/about-tablet.png 1x, ./images/about-tablet@2x.png 2x" media="(min-width:768px)">
                    <source srcset="./images/about-mobile.webp 1x, ./images/about-mobile@2x.webp 2x" media="(min-width:320px)"
                        type="image/webp">
                    <source srcset="./images/about-mobile.png 1x, ./images/about-mobile@2x.png 2x" media="(min-width:320px)">
                    <img src="./images/about-mobile.png" alt="Cow and milk">
                </picture>
            </div>
            <div class="right-side">
                <p class="description-1">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
                    eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="description-2">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    <span class="subdesc">Aliquam erat volutpat. Aenean accumsan.</span>
                </p>
                <button type="button" class="button about-button" data-modal-open-about>
                    <span class="about-button__text">Read more</span>
                    <svg class="about__icon" width="5px" height="8px">
                        <use href="./images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
<div class="backdrop is-hidden" data-modal-about>
    <div class="modal-about">
        <button type="button" class="modal-about__close-btn" data-modal-close-about>
            <svg class="close-icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-about__title">how it’s made?</h2>
        <p class="modal-about__description">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
            eros.
            Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="modal-about__description">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
            placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.       
            Aliquam erat volutpat. Aenean accumsan.
        </p>
        <div>
            <picture>
                <source srcset="./images/about-desktop.webp 1x, ./images/about-desktop@2x.webp 2x" media="(min-width:1200px)"
                    type="image/webp">
                <source srcset="./images/about-desktop.png 1x, ./images/about-desktop@2x.png 2x" media="(min-width:1200px)">
                <source srcset="./images/about-tablet.webp 1x, ./images/about-tablet@2x.webp 2x" media="(min-width:768px)"
                    type="image/webp">
                <source srcset="./images/about-tablet.png 1x, ./images/about-tablet@2x.png 2x" media="(min-width:768px)">
                <source srcset="./images/about-mobile.webp 1x, ./images/about-mobile@2x.webp 2x" media="(min-width:320px)"
                    type="image/webp">
                <source srcset="./images/about-mobile.png 1x, ./images/about-mobile@2x.png 2x" media="(min-width:320px)">
                <img src="./images/about-mobile.png" alt="Cow and milk">
            </picture>
        </div>
    </div>
</div>
