<section class="advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden">Our advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <p class="advantages__subtitle">721</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__subtitle advantages__subtitle_icon-2">16kg</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__subtitle advantages__subtitle_icon-3">84</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
