<section id="contact" class="contacts">
  <div class="container">
    <h2 class="visually-hidden contacts__title">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="contacts__item-wrapper">
          <p class="contacts__item-wrapper-text">CAFE</p>
        </div>
        <div class="contacts__item-address">
          <h3 class="contacts__item-address-location">Chicago</h3>
          <p class="contacts__item-address-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__item-schedule">
          <h3 class="contacts__item-schedule-day">Monday - Friday</h3>
          <p class="contacts__item-schedule-time">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__item-schedule-day">Saturday - Sunday</h3>
          <p class="contacts__item-schedule-time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__item-communication">
          <a class="contacts__item-communication-tel link" href="tel:+61(0)383766284">
            +61(0) 383 766 284
          </a>
          <a class="contacts__item-communication-email link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__item-wrapper">
          <p class="contacts__item-wrapper-text-green">FOOD TRUCK</p>
        </div>
        <div class="contacts__item-address">
          <h3 class="contacts__item-address-location">Los Angeles</h3>
          <p class="contacts__item-address-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__item-schedule">
          <h3 class="contacts__item-schedule-day">Monday - Friday</h3>
          <p class="contacts__item-schedule-time">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__item-schedule-day">Saturday - Sunday</h3>
          <p class="contacts__item-schedule-time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__item-communication">
          <a class="contacts__item-communication-tel link" href="tel:+61(0)383766284">
            +61(0) 383 766 284
          </a>
          <a class="contacts__item-communication-email link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__item-wrapper">
          <p class="contacts__item-wrapper-text">CAFE</p>
        </div>
        <div class="contacts__item-address">
          <h3 class="contacts__item-address-location">New York</h3>
          <p class="contacts__item-address-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__item-schedule">
          <h3 class="contacts__item-schedule-day">Monday - Friday</h3>
          <p class="contacts__item-schedule-time">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__item-schedule-day">Saturday - Sunday</h3>
          <p class="contacts__item-schedule-time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts__item-communication">
          <a class="contacts__item-communication-tel link" href="tel:+61(0)383766284">
            +61(0) 383 766 284
          </a>
          <a class="contacts__item-communication-email link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts__button">
      <ul class="contacts__button-list list">
        <li class="contacts__button-item">
          <button class="contacts__button-locations" type="button">
            Our Locations
            <svg class="contacts__locations-icon-light" width="10" height="10">
              <use href="./images/sprite.svg#icon-arrow-contacts-new"></use>
            </svg>
          </button>
        </li>
        <li class="contacts__button-item">
          <button class="contacts__button-franchise" type="button">
            Franchise
            <svg class="contacts__locations-icon-dark" width="10" height="10">
              <use href="./images/sprite.svg#icon-arrow-contacts-new"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
