<section class="customer-reviews customer-reviews__section">
  <h2 class="customer-reviews__title visually-hidden">Customer reviews</h2>
  <div class="container container-wrap">
    <div class="container-wrap__item">
      <picture class="container-wrap__picture">
        <source
          srcset="
            ./images/customer_reviews/person-1.webp    1x,
            ./images/customer_reviews/person-1@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/customer_reviews/person-1.jpg    1x,
            ./images/customer_reviews/person-1@2x.jpg 2x
          "
        />

        <img class="container-wrap__img" src="#" alt="person-1" />
      </picture>
      <div class="container-wrap__thumb-reviews">
        <p class="container-wrap__text-reviews">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="container-wrap__text">Emily, Los Angeles</p>
    </div>
    <div class="container-wrap__item">
      <picture class="container-wrap__picture">
        <source
          srcset="
            ./images/customer_reviews/person-2.webp    1x,
            ./images/customer_reviews/person-2@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/customer_reviews/person-2.jpg    1x,
            ./images/customer_reviews/person-2@2x.jpg 2x
          "
        />

        <img class="container-wrap__img" src="#" alt="person-2" />
      </picture>
      <div class="container-wrap__thumb-reviews">
        <p class="container-wrap__text-reviews">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="container-wrap__text">Anna, Chicago</p>
    </div>
    <div class="container-wrap__item">
      <picture class="container-wrap__picture">
        <source
          srcset="
            ./images/customer_reviews/person-3.webp    1x,
            ./images/customer_reviews/person-3@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/customer_reviews/person-3.jpg    1x,
            ./images/customer_reviews/person-3@2x.jpg 2x
          "
        />

        <img class="container-wrap__img" src="#" alt="person-3" />
      </picture>
      <div class="container-wrap__thumb-reviews">
        <p class="container-wrap__text-reviews">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="container-wrap__text">Lily, New York</p>
    </div>
  </div>
</section>
