<section class="footer">
  <div class="container container_position">
    <div class="footer__discription-wrap">
      <p class="footer__discription-top">homemade ice cream made</p>
      <p class="footer__discription-bottom">with passion</p>
    </div>
    <div class="footer__link-wrap">
      <ul class="social list">
        <li class="social__item">
          <a class="social__link" href="https://github.com/" target="_blank">
            <svg class="social__icon" width="34" height="34">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://web.telegram.org" target="_blank">
            <svg class="social__icon" width="34" height="34">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.facebook.com/" target="_blank">
            <svg class="social__icon" width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="mobile-number link" href="tel+610383766284"
        >Feel free to contact <span class="mobile-number-color"> &nbsp +61 (0) 383 766 284</span></a
      >
    </div>
  </div>
  <div class="bottom-line"></div>
  <div class="bottom-text-wrap">
    <p class="bottom-text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</section>
