<header class="header">
  <div class="container header__wrapper">
    <a class="logo" href="./index.html"><img src="../src/images/header-logo.png" alt="" /></a>
    <nav class="nav" data-menu>
      <div class="nav__button-wrapper">
        <button class="nav__btn-close" data-menu-close>
          <svg class="nav__btn-close-icon">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <button class="button" data-modal-open>
          Buy now
          <svg class="nav__btn-icon-arrow" width="10" height="10">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <ul class="nav__list list">
        <li class="nav__item"><a class="nav__link link" href="./index.html">Home</a></li>
        <li class="nav__item"><a class="nav__link link" href="#gallery">About us</a></li>
        <li class="nav__item"><a class="nav__link link" href="#about">How it’s made?</a></li>
        <li class="nav__item"><a class="nav__link link" href="#products">Our products</a></li>
        <li class="nav__item"><a class="nav__link link" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <button class="header__btn-menu" data-menu-button>
      <svg class="header__btn-menu-icon">
        <use href="./images/sprite.svg#icon-Burger"></use>
      </svg>
    </button>
    <button class="header__prime-btn button" data-modal-open>
      Buy now
      <svg class="header__prime-btn-icon" width="10" height="10">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</header>
