<section class="hero">
  <div class="hero__wrapper container">
    <div class="hero__title-wrapper">
      <h1 class="hero__title">ice cream made with <span class="hero__title-span">passion</span></h1>
      <ul class="hero__numbers list">
        <li class="hero__numbers-item">
          <p class="hero__numbers-item-first">16</p>
          <p class="hero__numbers-item-second">cafes</p>
        </li>
        <li class="hero__numbers-item">
          <p class="hero__numbers-item-first">23</p>
          <p class="hero__numbers-item-second">food trucks</p>
        </li>
      </ul>
    </div>
    <ul class="hero__button-list list">
      <li class="hero__button-item">
        <a class="link button button-accent" href="#products">Products</a>
      </li>
      <li class="hero__button-item"><a class="link button" href="#about">How it’s made?</a></li>
    </ul>
    <!-- <div class="hero__button">
      <button href="#products" type="button" class="button button-accent">Products</button>
      <button href="#about" class="button">How it’s made?</button>
    </div> -->
    <div class="hero-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero-text__btn" type="button">
        <svg class="hero-text__icon">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
