<section id="products" class="products">
  <div class="container products-container">
    <p class="products_suptitle">100% natural</p>
    <h2 class="products_title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item products-list__item--pink">
        <div class="products__card-cream">
          <h3 class="products-list_title">ice cream</h3>
          <span class="products-list_subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </span>
        </div>

        <button class="products_button" type="button">
          <svg class="products_button__icon" width="16" height="15">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
          <span class="description-products description-products_icecreame">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident totam voluptatem
            sapiente sed quod eos ullam non laborum eligendi nihil, porro saepe sit dolor impedit
            eius nulla quis. Repudiandae?
          </span>
          <div class="overlay-p">
            
          </div>
        </button>
      </li>

      <li class="products-list__item products-list__item--orange">
        <div class="products__card-coffe">
          <h3 class="products-list_title">ice coffee</h3>
          <span class="products-list_subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore ete
          </span>
          <button class="products_button" type="button">
            <svg class="products_button__icon" width="16" height="15">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
            <span class="description-products description-products_ice-coffe">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident totam voluptatem
              sapiente sed quod eos ullam non laborum eligendi nihil, porro saepe sit dolor impedit
              eius nulla quis. Repudiandae?
            </span>
          </button>
        </div>
      </li>

      <li class="products-list__item products-list__item--green">
        <div class="products__card-milkshakes">
          <h3 class="products-list_title">milkshakes</h3>
          <span class="products-list_subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </span>
          <button class="products_button" type="button">
            <svg class="products_button__icon" width="16" height="15">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
            <span class="description-products description-products_milkshake">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident totam voluptatem
              sapiente sed quod eos ullam non laborum eligendi nihil, porro saepe sit dolor impedit
              eius nulla quis. Repudiandae?
            </span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
